body,html,svg{
    width:100%;
    height: 100%;
    pointer-events:all;      
    margin:0 auto;
    }
.land{
    fill: #CCCCCC;
    stroke:black;
    stroke-opacity: 1;
    stroke-width:0.5;  
}
.land:focus{
    outline: none;
}
.centro:hover{
    display: block;
}
.land:hover{
    fill: #ff0000;
}
.land{
    animation: show 1.5s linear;
}

@keyframes show {
from {
    fill:rgba(0,0,0,0);

}
to {
    fill: #CCCCCC;
}
} 